@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header h1 {
    color: var(--theme);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

:root {
    --bg-color: #CED4DA;
    --boxes-bg-color: white;
    --text-dark-color: #343A40;
    --theme: #343A40;
    --highlight-text-color: white;
    --shadow-color: rgb(124, 120, 120);
    --border-color: black;
    --font-family: "Inter", sans-serif;
    --output-title: #15171a;
    --output-text: #495057;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    font-family: var(--font-family);
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

#texto::placeholder {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1.2rem;
    margin-top: 0.6rem;
    color: var(--text-dark-color);
    background-color: var(--bg-color);
    font-weight: 400;
    font-family: var(--font-family);
}

#texto {
    border: 0.5px solid var(--border-color);
    /* word-wrap: break-word;
    word-break: break-all; */
    font-family: var(--font-family);
    background-color: var(--bg-color);
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.botoes__crip, .botoes__descrip:hover{
    cursor: pointer;
}

.botoes__crip, .botoes__descrip {
    border: 0.5px solid var(--border-color);
    border-radius: 20rem;
}

.botoes__crip{
    background-color: var(--theme);
    color: var(--highlight-text-color);
}

.botoes__descrip {
    color: var(--text-dark-color);
    background-color: var(--bg-color);
}

.output-empty-box {
    background-color: var(--boxes-bg-color);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 5px var(--shadow-color);
    h2 {
        color: var(--output-title);
    }
    p {
        color: var(output-text);
    }
   
}


/* responsiveness smartphones*/

@media (max-width: 375px){

    header {
        display: flex;
        align-items: end;
        width: 100%;
        img {
            margin-left: 1rem;
            margin-top: 1.5rem;
        }
         h1 {
            margin-left: 16%;
        } 
    }

    main {
        /* border: 2px solid rgb(18, 255, 18); */
        align-items: center;
        justify-content: center;
        width: 21.4375rem;
    }

    .input-box {
        /* border: 2px solid red; */
        width: 21rem;
        margin-top: 5rem;
    }

    #texto{
        height: 21rem;
        font-size: 2rem;
        width: 20rem;
    }

    #texto::placeholder {
        font-size: 2rem;
    }

    .botoes {
        margin-top: 1rem;
    }

    .botoes__crip, .botoes__descrip {
        width: 20rem;
        height: 4.1rem;
    }

    .output-empty-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20.4375rem;
        height: 11.625rem;
        border-radius: 2rem;
        gap: 1rem;
        margin-top: 1rem;
        
        h2, p{
            width: 16.4375rem;
        }

        h2 {
            font-size: 1.5rem;
        }
        p {
            font-size: 1rem;
        }
    }

    .output-box {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        background-color: var(--boxes-bg-color);
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 2px 2px 5px var(--shadow-color);
        font-size: 1.5rem;
        p {
            color: var(output-text);
            margin: 2rem 2rem 8.1875rem 2rem;
        }
        button {
            border: 0.5px solid var(--border-color);
            border-radius: 20rem;
            width: 20rem;
            height: 4.1rem;
            background-color: var(--theme);
            color: var(--highlight-text-color);
            color: var(--text-dark-color);
            background-color: var(--boxes-bg-color);
            margin-bottom: 2rem;
            font-size: 1rem;
        }

}